CREATE DATABASE BikeStoresDW
GO
USE [BikeStoresDW]
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categorie](
	[IDcategorie] [int] IDENTITY(1,1) NOT NULL,
	[caategorie] [varchar](255) NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[IDcategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[date]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[date](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[mois] [varchar](50) NULL,
 CONSTRAINT [PK_date] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[etat]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[etat](
	[IDetat] [int] IDENTITY(1,1) NOT NULL,
	[NomEtat] [varchar](10) NULL,
 CONSTRAINT [PK_etat] PRIMARY KEY CLUSTERED 
(
	[IDetat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Marque]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Marque](
	[IDMarque] [int] IDENTITY(1,1) NOT NULL,
	[marque] [varchar](255) NULL,
 CONSTRAINT [PK_Marque] PRIMARY KEY CLUSTERED 
(
	[IDMarque] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produit](
	[IDProduit] [int] IDENTITY(1,1) NOT NULL,
	[nomProduit] [varchar](255) NOT NULL,
	[IDmarque] [int] NOT NULL,
	[IDcategorie] [int] NOT NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[IDProduit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Store]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Store](
	[IDstore] [int] IDENTITY(1,1) NOT NULL,
	[Nomstore] [varchar](255) NULL,
	[IDVille] [int] NOT NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[IDstore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ventes]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventes](
	[Quantite] [int] NOT NULL,
	[Montant] [float] NULL,
	[IDStore] [int] NOT NULL,
	[IDProduit] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ville]    Script Date: 25/05/2020 14:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ville](
	[IDville] [int] IDENTITY(1,1) NOT NULL,
	[Nomville] [varchar](50) NULL,
	[IDetat] [int] NOT NULL,
 CONSTRAINT [PK_Ville] PRIMARY KEY CLUSTERED 
(
	[IDville] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Categorie] FOREIGN KEY([IDcategorie])
REFERENCES [dbo].[Categorie] ([IDcategorie])
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Categorie]
GO
ALTER TABLE [dbo].[Produit]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Marque] FOREIGN KEY([IDmarque])
REFERENCES [dbo].[Marque] ([IDMarque])
GO
ALTER TABLE [dbo].[Produit] CHECK CONSTRAINT [FK_Produit_Marque]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_Ville] FOREIGN KEY([IDVille])
REFERENCES [dbo].[Ville] ([IDville])
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [FK_Store_Ville]
GO
ALTER TABLE [dbo].[Ventes]  WITH CHECK ADD  CONSTRAINT [FK_Ventes_Produit] FOREIGN KEY([IDProduit])
REFERENCES [dbo].[Produit] ([IDProduit])
GO
ALTER TABLE [dbo].[Ventes] CHECK CONSTRAINT [FK_Ventes_Produit]
GO
ALTER TABLE [dbo].[Ventes]  WITH CHECK ADD  CONSTRAINT [FK_Ventes_Store] FOREIGN KEY([IDStore])
REFERENCES [dbo].[Store] ([IDstore])
GO
ALTER TABLE [dbo].[Ventes] CHECK CONSTRAINT [FK_Ventes_Store]
GO
ALTER TABLE [dbo].[Ville]  WITH CHECK ADD  CONSTRAINT [FK_Ville_etat] FOREIGN KEY([IDetat])
REFERENCES [dbo].[etat] ([IDetat])
GO
ALTER TABLE [dbo].[Ville] CHECK CONSTRAINT [FK_Ville_etat]
GO
